# Mapping SLIIT student IDs and alternate emails to canonical student identities
Sethum <IT24100374@my.sliit.lk> IT24100374 <IT24100374@my.sliit.lk>
Sethum <IT24100374@my.sliit.lk> Sethum <IT24100374@my.sliit.lk>

Nuhadh Mohomed <nuhadhmohomed04@gmail.com> NuhadhMohomed <nuhadhmohomed04@gmail.com>
Nuhadh Mohomed <nuhadhmohomed04@gmail.com> Nuhadh <nuhadhmohomed04@gmail.com>

Mithila Dissanayaka <mithiladissanayaka1422@gmail.com> Mithila_Dissanayaka <mithiladissanayaka1422@gmail.com>
Mithila Dissanayaka <mithiladissanayaka1422@gmail.com> Mithila Dissanayaka <mithiladissanayaka1422@gmail.com>

Dineth Sasmitha <dsasmitha4588@gmail.com> IT24102912 <dsasmitha4588@gmail.com>
Dineth Sasmitha <dsasmitha4588@gmail.com> dsasmitha4588 <dsasmitha4588@gmail.com>
Dineth Sasmitha <dsasmitha4588@gmail.com> Dineth Sasmitha <dsasmitha4588@gmail.com>
