# Flutter / Dart .gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ephemeral/

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/**/GeneratedPluginRegistrant.h
ios/**/GeneratedPluginRegistrant.m

# Symbols & Packages
*.apk
*.aab
*.ipa
*.app
*.xctest
*.dSYM.zip
flutter_*.png

# IDEs
.idea/
.vscode/
*.iml
